<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calculations</title>
    <style>
        body{
        background-color: bisque;
        }
        h1{
            padding-left: 100px;
            color: brown;
        }
    </style>
</head>
<body>
   <h1>Arithmatic Calculations</h1>
  <form action="calc/" method="get">
      <input type="text" name="num1" placeholder="Enter your 1 number">
      <input type="text" name="num2" placeholder="Enter your 2 number">
      <br>
      <input type="submit">
  </form><br>
</body>
</html>
